
.mdl-layout__media > img
{
width:10%;
height:10%;
}

.cards2.mdl-card
{
	width:100%;
	height: auto;

}
.content.mdl-card__media > img
{
	max-width:100%;
	margin:auto;
	background:cover;
	
}
.c1.mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('') center / cover;
}

.c2.mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('') center / cover;
}
 .drawer-img.mdl-card__title
 {
  color: #fff;
  height: 176px;
  background: url('') center / cover;
 }
 
 .mdl-mega-footer
 {
	 max-width:100%;
 }


.search
{
  width: 279px;
  position: absolute;
  left: 1070px;
  background-color: #fff;
}
